/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/md-dark-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';

@import '~codemirror/lib/codemirror';
@import '~codemirror/addon/hint/show-hint.css';
@import 'assets/css/custom-code.theme.css';

html, body {
  margin: 0;
  background-color: #263238;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf') format('opentype');
}

body, .p-component {
  font-family: Lato, serif !important;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-terminal-content-prompt, .p-terminal-prompt {
    margin-right: 5px;
    color: #819500;
}

.p-tabview .p-tabview-panels {
  padding: 0;
}

.CodeMirror {
  height: 100%;
}